[submodule "Carthage/Checkouts/iOSClientExposure"]
	path = Carthage/Checkouts/iOSClientExposure
	url = https://github.com/EricssonBroadcastServices/iOSClientExposure.git
[submodule "Carthage/Checkouts/iOSClientPlayer"]
	path = Carthage/Checkouts/iOSClientPlayer
	url = https://github.com/EricssonBroadcastServices/iOSClientPlayer.git
