github "EricssonBroadcastServices/iOSClientPlayer" ~> 2.2.000
github "EricssonBroadcastServices/iOSClientExposure" ~> 2.2.000
github "EricssonBroadcastServices/iOSClientDownload" "master"
github "EricssonBroadcastServices/iOSClientExposureDownload" ~> 2.2.000
